
<div class="bodyRegister">

  <h1>Register now</h1>
<h3>By proceeding, you agree to our terms and conditions.</h3>

</div>


<section class="sectionRegister">
  

 <form action="/users/register" method="POST">
 

          
      
      <div class="inputdiv">
 <label for="name" class="form-label">Name</label><br>
        <input class="registerInput" name="name" type="text" class="form-control" id="name" autocomplete="name" autofocus><br>
      </div>

      <p>{{arrWarnings.[0].msg}}</p>

      
    
       
         

      <div class="inputdiv">
 <label for="lastName" class="form-label">Lastname</label><br>
        <input class="registerInput" name="lastName" type="text" class="form-control" id="lastName" autocomplete="additional-name"><br>
      </div>
       
      <p>{{arrWarnings.[1].msg}}</p>

     <div class="inputdiv">
<label for="email" class="form-label">Email</label><br>
        <input class="registerInput" name="email" type="text" class="form-control" id="email" autocomplete="email"><br>
     </div>

                 <p>{{arrWarnings.[2].msg}}</p>
                  <p>{{arrWarnings.[3].msg}}</p>


        
     
      <div class="inputdiv">
 <label for="pass" class="form-label">Password</label><br>
        <input class="registerInput" name="pass" type="password" class="form-control" id="pass" autocomplete="current-password"><br>
      </div>

                        <p>{{arrWarnings.[4].msg}}</p>
                      <p>{{arrWarnings.[5].msg}}</p>

{{!-- 
     <div class="inputdiv">
 <label for="pass" class="form-label">Password</label><br>
        <input class="registerInput" name="passwordConfirmation" type="password" class="form-control" id="passwordConfirmation" ><br>
      </div> --}}




     
      
        <input type="submit" class="btnlogin" value="Register my account" /><br><br>
        <a href="/users/login" class="btnbackLogin">Back to login</a>
 
  </form>
 
   
</div>
<br>
{{!-- <div>
 {{#each arrWarnings}}
        <p>{{msg}}</p>
    {{/each}} --}}
</section>
 
  {{!-- </div> --}}
   

    